name: Dizi Listesi ve Sure Guncelleyici

# TETİKLEYİCİLER
on:
  workflow_dispatch: # Manuel tetikleme butonu

permissions:
  contents: write

jobs:
  update-list:
    runs-on: ubuntu-latest

    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # --- YENİ EKLENEN KISIM: FFmpeg Kurulumu ---
      # Bu olmazsa ffprobe çalışmaz ve süreler 0 gelir.
      - name: FFmpeg Kur
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Kütüphaneleri Yükle
        run: pip install requests

      - name: Botu Çalıştır ve JSON Oluştur
        run: python bot.py

      - name: GitHub'a Kaydet
        run: |
          git config --global user.name 'PlaylistBot'
          git config --global user.email 'bot@noreply.github.com'
          
          # Sadece api klasörünü ekle
          git add api/*
          
          # Değişiklik varsa commit at
          if ! git diff --quiet || ! git diff --staged --quiet; then
            echo "Değişiklik var, commit atılıyor..."
            git commit -m "Dizi listesi ve süreleri güncellendi"
            
            # Hata almamak için önce çek, sonra it (Rebase)
            git pull --rebase origin main
            git push
          else
            echo "Değişiklik yok, işlem tamam."
          fi
